<%# Универсальный паршиал отображения ошибок валидации любой модели %>
<% errors = model.errors %>

<% if model.errors.any? %>
  <div class="alert fade in alert-warning">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="lead buffer-bottom">
      В вашей форме <%= t 'errors', count: errors.count %>
    </div>

    <%= devise_error_custom(model) %>
  </div>
<% end %>
