<div class="text-center">
  <h1><%= @user.name %></h1>

  <p class="buffer-top">
    <%= link_to "Редактировать профиль", edit_user_path(@user),
                class: 'btn btn-default' %>
  </p>
</div>