<%# Паршал для вывода отдельной фотографии %>
<div class="event-photo buffer-both">

<!--  Корзина в слайдере-->
  <%= link_to fa_icon('trash-o'), event_photo_path(photo),
              method: :delete, data: {confirm: 'В корзинку положим?'} if current_user_can_edit?(photo) %>

<!--  Картинки в слайдере-->
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
      toggle: 'lightbox',gallery: 'event-photos', title: "Добавил #{render partial: 'users/user', object: photo.user}",
  } %>

  <%# Показываем не только фотку, но и юзаре, который её добавил %>
  Добавил <%= render partial: 'users/user', object: photo.user %>
</div>